<!DOCTYPE html>
<html>
  <body>
    <p>The following values were computed using in-memory data from the returnly-challenge demo store:</p>
    <div>Total Number of Orders: <%= num_orders %></div>
    <div>Number of Unique Customers: <%= num_unique_customers %></div>
    <div>Most Frequently Ordered Item (Product ID): <%= most_frequent_item %></div>
    <div>Least Frequently Ordered Item (Product ID): <%= least_frequent_item %></div>
    <div>Median Order Value: <%= median_order_value %></div>
    <div>Shortest Consecutive Order Interval: <%= shortest_consecutive_order_interval %></div>
  </body>
</html>